/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Generics*/
body {
  font-family: sans-serif;
  padding-top: 80px;
}
img {
  display: block;
  max-width: 100%;
}

/*Utils*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

header {
  background-color: white;
  box-shadow: 0 0 3px lightslategray;
  box-shadow: inset;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/*Navbar*/
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  padding: 0 20px;
}
.navbar-logo {
  flex-grow: 1;
}
.navbar-actions {
  text-align: right;
}
li {
  display: inline;
}

button {
  padding: 5px;
}

/*Jumbotron*/
#jumbotron {
  padding-top: 90px;
  height: 700px;
  background-color: lightblue;
}
h1 {
  font-weight: 800px;
  font-size: 78px;
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-small {
  flex-basis: 30%;
}
.col-big {
  flex-basis: 70%;
}
p {
  margin-bottom: 30px;
}
button {
  color: white;
  background-color: #0061ff;
  padding: 10px;
  border: 2px solid #0061ff;
}

#options {
  padding-top: 150px;
  padding-left: 200px;
}
.subtitle {
  font-weight: 400px;
  font-size: 30px;
  margin-bottom: 50px;
}
.col-options {
  padding-bottom: 50px;
}
/*Columns*/
.col {
  min-height: 500px;
  border: 1px dashed gray;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-weight: 400px;
  font-size: 50px;
  margin-bottom: 50px;
  padding-top: 100px;
}

/*end*/
#clients {
  margin: 100px 0;
}
.squares-container {
  display: flex;
}
.square {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  border: 2px dashed green;
  display: flex;
  flex-wrap: wrap;
}

.small-square {
  width: 50%;
  height: 50%;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-square img {
  width: 50%;
}

.prova {
  height: 300px;
  background-color: rgb(110, 194, 247);
  text-align: center;
  color: darkviolet;
}
